*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a,
a:active {
  text-decoration: none;
}
.df-navbar {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: auto;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
nav {
  float: left;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

nav ul li:hover {
  background: #887c83;
}

.container-fluid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "header header header logo "
    "section1 section1 section1 section3 "
    "section2 section2 section2 section3"
    "footer footer footer footer"
}

.containerfor {
  width: 90%;
  padding: 0%;
  text-align: center;
}
.logo{
  float: right;
  margin-top: -40px;
  margin-right: -20px;
  margin-bottom: -180px;
}

header {
  grid-area: header;
  width: 90%;

}

.section1 {
  grid-area: section1;
  text-align: center;
}

.section2 {
  grid-area: section2;
  text-align: center;
}

.section3 {
  padding: 10%;
  grid-area: section3;
  text-align: center;
  text-decoration: #000000;
}

.footer {
  grid-area: footer;
}

.logo {
  float: right;
  margin-top: -85px;
  margin-left: 250px;
  margin-right: -15px;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: center;
  background: deepskyblue;
}



.df-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.bg-footer {
  padding: 10px;
  margin: 5vh;
  width: auto;
  display: flex;
}

.contac a i:hover {
  transform: scale(2);
  transition: all 1s ease;
}

.header-logo img:hover {
  transform: rotate(50deg);
}

nav:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

body {
  width: 90%;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
}
@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  background: #8360c3;  
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); 
  background: linear-gradient(to right, #2ebf91, #8360c3); 
  background-attachment: fixed;
}

#container {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  position: fixed;
  display: contents;
}
#flipper {
  height: 50px;
  overflow: hidden;
}
#flipper > div > div {
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 45px;
  display: inline-block;
}
#flipper div:first-child {
  animation: show 10s linear infinite;
}
#flipper div {
  color: rgb(255, 0, 0);
}

@keyframes show {
  0% {
      margin-top: -270px;
  }
  5% {
      margin-top: -180px;
  }
  33% {
      margin-top: -180px;
  }
  38% {
      margin-top: -90px;
  }
  66% {
      margin-top: -90px;
  }
  71% {
      margin-top: 0px;
  }
  99.99% {
      margin-top: 0px;
  }
  100% {
      margin-top: -270px;
  }
}


